.warning {
    color:red;
    font-weight: bold;
}

body {
    text-align: center;
    background-color: #36454F;
}

form {
    display: inline-block;
}

#myform {
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 5px;
    background-color: #E5E4E2;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



